/*Header styles*/
body{
  font-family: 'Kumbh sans';
  font-size: 16px;
}
.slide{
   opacity: 0;
   transition-duration: 0.3s ease;
}
.slide.active{
    opacity: 1;
    transition-duration: 0.3s;
}
.h-div{
  display: inline-flex;
  width:100%;
  height: 30px;
  padding:10px;
  margin:5px -10px;

}
.h-div h3{
  font-size: 23px;
  font-weight: 700;
  margin-top: -7px;
  margin-left: 10px;
}
.h-div--cart{
  opacity:65%;
  position: absolute;
  right: 55px;
  
}
.h-div--bars{
  opacity: 65%;
  width:25px;
  margin-left:0px;
}
.h-div img{
  position: absolute;
  right: 10px;
  top:14px;
  height: 30px;
  width: 30px;
}
.top-nav{
  align-items: center;
  margin-top: -21px;
  margin-left: 10px;
  height: 100vh;

}

.top-nav--wrapper li{
    margin-right: 20px;
    list-style: none;
    display:inline-flex;
    align-items: center;
    font-size: 22px;
}
.top-nav--close{
  display: none;
}
/*main content styles*/
.m-div{
  width:100%;
  margin-top: -40px;
}
.m-div--image{
  width: 100vw;
  margin-left: -8px;
}
.m-div--image-icons li{
   list-style: none;
   display: inline-flex;
   position: absolute;
   top:50%;
   background: white;
   padding:4px 8px;
   border-radius: 50px;

}
.m-div--image-icons li:nth-of-type(1){
  left: 20px;
}

.m-div--image-icons li:nth-of-type(2){
  right: 10px;
}
.m-div--image img{
  width: 100%;
}
.m-div--cont{
  padding: 5px;
  margin-top: -20px;
}
.m-div--cont h2{
   color: hsl(25, 100%, 60%);
}
.m-div--list{
    width: 100vw;
    margin-left: -15px;
}
.m-div--list ul{
  margin-left: -20px;
}
.m-div--list li{
  list-style: none;
  display: inline-flex;
}
.m-div--list li:nth-of-type(1){
  font-weight: bolder;
}
.m-div--list li:nth-of-type(2){
  background: hsl(25, 100%, 94%);
  padding: 5px;
  border-radius: 2px;
  color: hsl(25, 100%, 60%);
  margin-left: 5%;
}
.m-div--list li:nth-of-type(3){
    margin-left: 55%;
    color: gray;
    text-decoration: line-through;
}
.m-div-i{
  opacity:85%;
  padding-right:20px;
}
.m-div button{
  background-color: hsl(26, 100%, 55%);
  border:hsl(26, 100%, 55%);
  width: 100%;
  padding: 10px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px hsl(26, 100%, 75%);
  font-size:17px;
  color: white;
  font-weight: bold;
  margin: 10px auto;
}
.m-div--mod li{
  list-style: none;
  display: inline-flex;
  padding-top: 6px;
}
.m-div ul{
  margin-right: 5%;
  margin-left: 4%;
  padding:5px;
}
.m-div--mod{
  width: 100%;
  background-color:hsl(223, 64%, 98%) ;
  height: 50px;
  padding-top: 0px;
  margin: 5px 1px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  } 
.m-div--mod li:nth-of-type(1){
  color: hsl(25, 100%, 60%);
  margin-right:40%;
  font-weight: bolder;
}
.m-div--mod li:nth-of-type(3){
   color: hsl(25, 100%, 60%);
   margin-left: 40%;
   font-weight: bolder;
}
.m-div--mod li:nth-of-type(2){
  font-size: 20px;
}
.slider{
  width: 100%;
  overflow: hidden;
}
#slider-wrapper{
  display: flex;
  width: 100%;
  
}
.h-div--cartview{
  width: 90%;
  position:absolute;
  top:15%;
  padding:10px ;
  background: white;
  border-radius: 5px;
  height: 50%;
  display:none;
}
.h-div--cartview.visible{
    display: block;
}
.h-div--cartview h4{
  margin-left:4%;
}

/*media query*/
@media screen and (max-width:500px)
{
  .top-nav--wrapper li{
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bolder;
  }
  .top-nav{
    position: absolute;
    background-color: white;
    left:-300px ;
    top:0px;
    padding: 20px;
    height: 100%;
    box-shadow: 0 10px 15px gray;
  }
  .top-nav.active{
    left:-18px;
    transition: 0.4s ease-in;
  }
  .top-nav--close{
    display: block;
    margin-top: 32px;
    opacity: 65%;
    margin-left:38px ;
  }
}
@media screen and (max-width:375px){
  .m-div--list li:nth-of-type(3){
    margin-left:40%;
  }
  .m-div--image-icons li{
    top: 40%;
  }
}
@media screen and (min-width:510px) and (max-width:1440px) {
  .m-div{
    display:grid;
    grid-template-columns:50% 50%;
  }
  .m-div--image{
     width: 100%;

  }
  .m-div--cont{
    padding-left: 50px;
    margin-top: 30px;
  }
  .m-div--image-icons li{
    display: none;
  }
  .m-div--list li:nth-of-type(3){
    position: absolute;
    margin-top: 40px;
    left: 12px;
  }
  .m-div--list li:nth-of-type(1){
    margin-left: -20px;
  }
  .h-div--bars{
    display: none;
  }
  .m-div--image{
    padding-left: 20px;
  }
  .m-div--image img{
    border-radius: 10px;
  }
  .m-div--mod{
    margin-top: 50px;
    position: absolute;
    width: 15%;
    left:57%;
  
  }
  .m-div button{
    margin-top: 50px;
    width: 25%;
    position: absolute;
    right: 10px;
  }
  .m-div--mod li:nth-of-type(1){
    margin:auto;
  }
  .m-div--mod li:nth-of-type(3){
    margin: auto;
  }
  .m-div--mod li:nth-of-type(2){
    margin:auto 23%;
  }
  .m-div--mod ul{
    padding-top: 7px;
    margin-top:0px;
  }

}
